header {
    background-color: #808080;
    padding-bottom: 4em;
    text-align: center;

    h1 {
        padding: 0;
        margin: 0;
    }
}

menu {
    display: inline;
    padding-left: 0;

    .bullet {
        font-size: 1.1em;
        position: fixed;
    }
    .bullet.menu {
        transform: translate(65px, -73px);
        transition: transform 2s;
    }

    .bullet.it1 {
        transform: translate(100px, -2px);
        transition: transform 2s;
    }
    .bullet.it2 {
        transform: translate(187px, -2px);
        transition: transform 2s;
    }
    .bullet.it3 {
        transform: translate(282px, -2px);
        transition: transform 2s;
    }
    .bullet.it4 {
        transform: translate(370px, -2px);
        transition: transform 2s;
    }
    .bullet.it5 {
        transform: translate(460px, -2px);
        transition: transform 2s;
    }

    .items > div {
        display: inline;
        position: fixed;
        margin-right: 0;
        transition: all 2s;
    }
    .items.show > div {
        display: inline;
        position: inherit;
        margin-right: 50px;

        &:first-child {
            margin-left: 100px;
        }
    }

    .menuBar {
        @y_origin : 10px;
        background-color: #FF0000;
        padding-right: 60px;
        height: 20px;
        position: inherit;
        position: absolute;
        z-index: 1;
        transform-origin: 0 @y_origin;
        transform: rotate(0deg);
        transition: transform 1s;
    }
    .menuBar.rotate {
        transform: rotate(-45deg);
        transition: transform 2s;
    }
}

main {

    p {
        margin: 18px 0 0 0;
    }
    .noMargin {
        margin: 0;
    }
}

@keyframes bulletMenu {
    0%{
        transform: translate(0, 0);
    }
    50% {
        transform: translate(40px, -50px);
    }
    100% {
        transform: translate(65px, -73px);
    }
}
