@import url('https://fonts.googleapis.com/css?family=Bangers|Manuale');
/*
Variables
*/
@header-font: 'Bangers', cursive;
@body-font: 'Manuale', serif;
@bg-pic-path: "images/";
@links-pic-path: "images/thumb/";
@sizes: {mobile:480px;}
/*
Variables
*/

.text_styling(@font, @weight, @size) {
    color: #FFF;
    font-family: @font;
    font-weight: @weight;
    font-size: @size;
}
.bg_styling(@pic) {
    background:
    /* top transparent overlay */
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url('@{bg-pic-path}@{pic}');
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

* { box-sizing: border-box; }
body, html {
    height: 100%;
    margin: 0;
}

.bg.img2 {
    .bg_styling("garden2.jpg");
}
.bg.img3 {
    .bg_styling("garden3.jpg");
}
.bg.img4 {
    .bg_styling("garden4.jpg");
}
.bg.img5 {
    .bg_styling("garden5.jpg");
}
.bg {
    .bg_styling("garden1.jpg");

    &:first-child {
        margin-top: 0;
    }

    //Section Container
    .grid-container {
        display: grid;
        grid-template-areas:
        'header'
        'menu'
        'main'
        'links'
        'logout'
        'footer';
        grid-gap: 10px;
        padding: 10px;
        max-width: 1500px;
        margin: auto;
        background-color: #66ff99;
        background: linear-gradient(to bottom, rgba(102,204,255,0.4), rgba(102,255,153,0.5));

        .header {
            grid-area: header;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: space-between;
            background-color: rgba(0,0,0,0.4);
            border-radius: 1em;

            h1 {
                color: #FFF;
                .text_styling(@header-font, 100, 3em);
                margin-right: 1em;

                @media (max-width: @sizes[mobile]) {
                  .text_styling(@header-font, 100, 2em);
                  text-align: center;
                }
            }

            img {
                margin-left: 1em;
                width: 20%;
                height: 50%;

                @media (max-width: @sizes[mobile]) {
                  margin-right: 1em;
                }
            }
            a {
                color: inherit;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    //Section Menu
    .menu {
        grid-area: menu;
        display: flex;
        justify-content: space-around;
        .text_styling(@body-font, normal, 1.3em);
        background-color: rgba(0,0,0,0.4);
        border-radius: 1em;

        div {
            padding-left: .2em;
            padding-right: .2em;

            &:hover {
                background-color: rgba(0,0,0,0.8);
                border-radius: .2em;
            }
        }
        a {
            color: inherit;
            text-decoration: none;
            margin: 0;
            padding: 0;
        }

        @media (max-width: @sizes[mobile]) {
          display: none;
        }
    }

    //Section Main
    .main {
        padding: 1em;
        grid-area: main;
        background-color: rgba(0,0,0,0.4);
        border-radius: 1em;
        color: #FFF;

        h2, h1 {
            text-transform: uppercase;
            .text_styling(@body-font, normal, 2em);

            @media (max-width: @sizes[mobile]) {
              .text_styling(@body-font, normal, 1.5em);
            }
        }
        h1 {
            font-size: 2.2em;
            text-align: center;
        }
        p, li {
            .text_styling(@body-font, normal, 1.3em);

            @media (max-width: @sizes[mobile]) {
              .text_styling(@body-font, normal, 1.1em);
            }
        }

        /*
            Dashboard --- Start
        */
        .flex-container {
            grid-area: main;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .flower {
                width: 30%;
                height: 450px;
                text-align: center;
                padding: .5em;
                margin: .5em;
                background-color: rgba(0,0,0,0.4);
                border-radius: .5em;
                overflow: hidden;

                &:hover {
                    overflow-y: scroll;
                }
                h2 {
                    .text_styling(@body-font, 600, 1.5em);
                    margin-bottom: .1em;
                }
                h3 {
                    .text_styling(@body-font, normal, 1.3em);
                    margin-top: .1em;
                }
                img {
                    max-width:100px;
                    max-height:100px;
                    min-height: 100px;
                    width: auto;
                    height: auto;
                    border-radius: 0.1em;
                    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
                }
                p {
                    .text_styling(@body-font, normal, 1.1em);
                }

                .editButton {
                	box-shadow:inset 0px 1px 0px 0px #99ffb7;
                	background:linear-gradient(to bottom, #C3FF9B 5%, #4A8522 100%);
                	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C3FF9B', endColorstr='#4A8522',GradientType=0);
                	background-color:#C3FF9B;
                	border-radius:6px;
                	border:1px solid #31ea53;
                	display:inline-block;
                	cursor:pointer;
                	.text_styling(@body-font, normal, 1.2em);
                    padding: 0 0 0 0;
                	text-shadow:0px 1px 0px #C3FF9B;
                    width: 5rem;
                    height: 2rem;
                    margin-top: 1em;

                    &:hover {
                    	background:linear-gradient(to bottom, #4A8522 5%, #C3FF9B 100%);
                    	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A8522', endColorstr='#C3FF9B',GradientType=0);
                    	background-color:#C3FF9B;
                    }
                    &:active {
                    	position:relative;
                    }
                    i {
                        font-weight: normal;
                        padding-right: 4px;
                    }
                }

                @media (max-width: @sizes[mobile]) {
                  width: 90%;
                }
            }

            @media (max-width: @sizes[mobile]) {
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
            }
        }
        /*
            Dashboard --- End
        */

        /*
            Login --- Start
        */
        .login {
            display: flex;
            justify-content: center;

            div {
                width: 30%;

                @media (max-width: @sizes[mobile]) {
                  width: 90%;
                }
            }

            .loginForm {
                width: 100%;
            }
            .registerForm {
                display: none;
                width: 100%;
            }
        }
        /*
            Login --- End
        */

        /*
            Data Management --- Start
        */
        form {
            .text_styling(@body-font, normal, 1.5em);
        }
        .twoCol {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            div {
                width: 48%;

                @media (max-width: @sizes[mobile]) {
                  width: 100%;
                }
            }

            @media (max-width: @sizes[mobile]) {
              flex-direction: column;
            }
        }
        input, textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: @body-font;
            font-size: .8em;
        }
        textarea {
            max-width: 1450px;
            height: 8em;
        }
        input[type=submit], [type=button] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            .text_styling(@body-font, normal, 1em);
            cursor: pointer;

            &:hover {
                background-color: #45a049;
            }
        }
        #plant_ID {
            display: none;
        }
        /*
            Data Management --- End
        */


        /*
            Contact Us --- Start
        */
        .contact-container {
            display: flex;
            justify-content: space-around;

            .contact {
                flex: 1;
            }

            .location {
                flex: 2;
                width: 100%;
                height: 100%;
                iframe {
                    width: 100%;
                    height: 450px;
                }
            }

            @media (max-width: @sizes[mobile]) {
              flex-direction: column;
              text-align: center;
            }
        }
        /*
            Contact Us --- End
        */
    }

    //Section Links
    .links {
        grid-area: links;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0,0,0,0.4);
        padding: 1em;
        border-radius: 1em;

        a {
            text-decoration: none;
            margin: 0;
            padding: 0;
        }
        div {
            height: 150px;
            width: 150px;
            line-height: 150px;
            border-radius: 1em;
            .text_styling(@header-font, 100, 2em);
            vertical-align: middle;
        }

        /* ===== Thumbnail links ===== */
        .thumb1 {
            /* transparent overlay gradient */
            background:
            radial-gradient(rgba(246,217,245, 0.7),rgba(138,67,125, 0.7)),
            url('@{links-pic-path}thumb1.jpg'); //background image
            text-align: center;

            &:hover {
                /* transparent overlay gradient */
                background:
                radial-gradient(rgba(246,217,245, 0.7), rgba(138,67,125, 0.7));
            }
        }
        .thumb2 {
            /* transparent overlay gradient */
            background:
            radial-gradient(rgba(169,169,221, 0.7),rgba(79,77,200, 0.7)),
            url('@{links-pic-path}thumb2.jpg'); //background image
            text-align: center;

            &:hover {
                /* transparent gradient */
                background:
                radial-gradient(rgba(169,169,221, 0.6),rgba(79,77,200, 0.6));
            }
        }

        .thumb3 {
            /* transparent overlay gradient */
            background:
            radial-gradient(rgba(247,173,172, 0.6),rgba(243,68,85, 0.6)),
            url('@{links-pic-path}thumb3.jpg'); //background image
            text-align: center;

            &:hover {
                /* transparent gradient */
                background:
                radial-gradient(rgba(247,173,172, 0.65),rgba(243,68,85, 0.65));
            }
        }

        .thumb4 {
            /* transparent overlay gradient */
            background:
            radial-gradient(rgba(220,229,238, 0.7),rgba(196,190,40, 0.7)),
            url('@{links-pic-path}thumb4.jpg'); //background image
            text-align: center;

            &:hover {
                /* transparent gradient */
                background:
                radial-gradient(rgba(220,229,238, 0.65),rgba(196,190,40, 0.65));
            }
        }

        .thumb5 {
            /* transparent overlay gradient */
            background:
            radial-gradient(rgba(221,174,211, 0.6),rgba(204,147,192, 0.6)),
            url('@{links-pic-path}thumb5.jpg'); //background image
            text-align: center;

            &:hover {
                /* transparent gradient */
                background:
                radial-gradient(rgba(221,174,211, 0.65),rgba(204,147,192, 0.65));
            }
        }

        .thumb6 {
            /* transparent overlay gradient */
            background:
            radial-gradient(rgba(224,224,224, 0.6),rgba(184,22,43, 0.6)),
            url('@{links-pic-path}thumb6.jpg'); //background image
            text-align: center;

            &:hover {
                /* transparent gradient */
                background:
                radial-gradient(rgba(224,224,224, 0.65),rgba(184,22,43, 0.65));
            }
        }
        /* ===== Thumbnail links ===== */

    }


    .logoutMobile {
        grid-area: logout;
        background-color: rgba(0,0,0,0.4);
        .text_styling(@body-font, normal, 1.2em);
        padding: .5em;
        text-align: center;
        display: none;
        border-radius: 1em;

        div {
            padding-left: .2em;
            padding-right: .2em;

            &:hover {
                background-color: rgba(0,0,0,0.8);
                border-radius: .2em;
            }
        }
        a {
            color: inherit;
            text-decoration: none;
            margin: 0;
            padding: 0;
        }

        @media (max-width: @sizes[mobile]) {
          display: block;
        }
    }

    .footer {
        grid-area: footer;
        background-color: rgba(0,0,0,0.4);
        .text_styling(@body-font, normal, 1em);
        padding: .5em;
        text-align: center;
        span {
            font-size: 1.3em;
        }
    }

}
