@import url('https://fonts.googleapis.com/css?family=Andada|Carter+One|Merienda');

/* --- Fonts --- */
* {
  color: white;
}
html{
  overflow: scroll;
}
h1 {
  font-family: 'Carter One', cursive;
}
main h1, h2 {
  margin-bottom: 0;
}
h2 {
  font-family: 'Andada', serif;
  margin-top: 0;
}
p {
  font-family: 'Merienda', cursive;
  font-size: 1.2em;
  margin-top: .2em;
}

body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(images/space.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

body {
  max-width: 1000px;
  margin: auto;
}
main {
  padding: 1em 1em;
  padding-top: 0;
}
header {
  text-align: center;
  margin: auto;
}
.contact {
  margin-left: 5em;
  margin-right: 5em;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.image-left {
  -webkit-flex: 0;  /* Safari 6.1+ */
  -ms-flex: 0;  /* IE 10 */
  flex: 0;
}

.image-left img {
  border-radius: 50%;
  transition: 1s ease-in-out;
}

.image-left img:hover{
  opacity: 0.7;
}

.personal-info-right {
  -webkit-flex: 2;  /* Safari 6.1+ */
  -ms-flex: 2;  /* IE 10 */
  flex: 2;
  padding-bottom: 1em;
}

/*
Glyph, by Harry Roberts
https://css-tricks.com/examples/hrs/
*/
hr.cool {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.cool:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
/*
Glyph, by Harry Roberts
https://css-tricks.com/examples/hrs/
*/

@media only screen and (min-width: 600px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .grid-item h1 {
    padding-right: .2em;
    padding-top: 0;
    margin-top: 0;
  }
  .grid-item h2 {
    margin-top: auto;
  }
}
