@import url('https://fonts.googleapis.com/css?family=Bangers|Manuale');
/*
font-family: 'Bangers', cursive;
font-family: 'Manuale', serif;
*/
* { box-sizing: border-box; }
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background:
    /* top transparent overlay */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url(mockup/images/garden1.jpg);
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}
.bg > :first-child {
  margin-top: 0;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'intro'
    'story'
    'map'
    'listing'
    'mockup'
    'aesthetic'
    'references'
    'footer';
  grid-gap: 10px;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
  background-color: #66ff99;
  background: linear-gradient(to bottom, rgba(102,204,255,0.4), rgba(102,255,153,0.5));
}
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  background-color: rgba(0,0,0,0.4);
  border-radius: 1em;
}
.header h1 {
  color: #FFF;
  font-family: 'Bangers', cursive;
  font-weight: 100;
  font-size: 3em;
  margin-right: 1em;
}

.intro {
  padding: 1em;
  grid-area: intro;
  background-color: rgba(0,0,0,0.4);
  border-radius: 1em;
  color: #FFF;
}
.intro h2, .story h2, .map h2, .listing h2, .aesthetic h2, .references h2 {
  text-transform: uppercase;
  font-family: 'Manuale', serif;
  font-size: 2em;
}
.intro p, .story p, .map p, .aesthetic p, .aesthetic li, .references p, .references li, .references a {
  font-family: 'Manuale', serif;
  font-size: 1.3em;
}

.story {
  padding: 1em;
  grid-area: story;
  background-color: rgba(0,0,0,0.4);
  border-radius: 1em;
  color: #FFF;
}

.map {
  padding: 1em;
  grid-area: map;
  background-color: rgba(0,0,0,0.4);
  border-radius: 1em;
  color: #FFF;
}

.listing {
  padding: 1em;
  grid-area: listing;
  background-color: rgba(0,0,0,0.4);
  border-radius: 1em;
  color: #FFF;
}

.listing table {
  font-family: 'Manuale', serif;
  font-size: 1.3em;
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even){background-color: rgba(0,0,0,0.5);}
table tr:hover {background-color: rgba(0,0,0,1);}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.mockup {
  grid-area: mockup;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  padding: 1em;
  border-radius: 1em;
}
.mockup a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.mockup div {
  height: 150px;
  width: 150px;
  line-height: 150px;
  border-radius: 1em;
  font-family: 'Bangers', cursive;
  font-weight: 100;
  font-size: 2em;
  color: #FFF;
  vertical-align: middle;
}

.thumb1 {
  background:
    /* transparent overlay gradient */
    linear-gradient(
      rgba(138,67,125, 0.7),
      rgba(246,217,245, 0.7)
    ),
    /* bottom, image */
    url(images/thumb/thumb1.jpg);
    text-align: center;
}
.thumb1:hover {
  background:
    /* transparent overlay gradient */
    linear-gradient(to bottom right,
      rgba(138,67,125, 0.7),
      rgba(246,217,245, 0.7)
    );
}

.aesthetic {
  padding: 1em;
  grid-area: aesthetic;
  background-color: rgba(0,0,0,0.4);
  border-radius: 1em;
  color: #FFF;
}

.references {
  padding: 1em;
  grid-area: references;
  background-color: rgba(0,0,0,0.4);
  border-radius: 1em;
  color: #FFF;
}

.footer {
  grid-area: footer;
  background-color: rgba(0,0,0,0.4);
  color: #FFF;
  font-family: 'Manuale', serif;
  font-size: 1em;
  padding: .5em;
  text-align: center;
}
.footer span {
  font-size: 1.3em;
}

/*
Responsive Layout (To be implemented)
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /*Tablet - Portrait*/

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /*Tablet - Landscape*/

}
@media (min-width: 481px) and (max-width: 767px) {
  /*Low Resolution Tablets, Mobiles - Landscape*/

}
@media only screen and (max-width: 480px) {
    /* Smartphones Mobiles - Portrait */

}
