@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Carter+One|Manuale&effect=shadow-multiple');
/*
Variables
*/
@title-font: 'Bungee Inline', cursive;
@header-font: 'Carter One', cursive;
@body-font: 'Manuale', serif;

.text_styling(@font, @weight, @size) {
    font-family: @font;
    font-weight: @weight;
    font-size: @size;
}

//Page Body Container
.grid-container {
    display: grid;
    grid-template-areas:
    'title title title'
    'battalion squad profile';
    grid-gap: 10px;
    padding: 10px;
    max-width: 1500px;
    margin: auto;
    grid-template-columns: fit-content;
}

h2 {
    .text_styling(@header-font, lighter, 1.5em);
}

//Header area (Army)
header {
    grid-area: title;
    .text_styling(@title-font, lighter, 3em);
    text-align: center;
    border-bottom: solid 2px black;

    h1 {
        margin: 0 auto 0 auto;
    }
}

//battalion area
.batContainer{
    grid-area: battalion;

    .battalion {
        .text_styling(@body-font, lighter, 1.3em);
        text-align: center;
        div {
            &:hover {
                background-color: rgba(0,0,0,0.8);
                border-radius: .2em;
                cursor: pointer;
            }
        }
        //class selected has different background
        .selected {
            font-weight: bold;
            background: linear-gradient(to right, rgba(234,148,147,0.4), rgba(28,179,255,0.4));
        }
    }
}

//squad area
.squadContainer {
    grid-area: squad;

    .squad {
        .text_styling(@body-font, lighter, 1.3em);
        text-align: center;
        div {
            &:hover {
                background-color: rgba(0,0,0,0.8);
                border-radius: .2em;
                cursor: pointer;
            }
        }
    }
}

//profile area
.profileContainer {
    grid-area: profile;

    .profile {
        .text_styling(@body-font, lighter, 1.3em);
    }

    //Style label for profile
    span {
        text-transform: capitalize;
        font-weight: bold;
    }
}
