@import url('https://fonts.googleapis.com/css?family=Bangers|Manuale');
/*
Variables
*/
@header-font: 'Bangers', cursive;
@body-font: 'Manuale', serif;
@bg-pic-path: "images/";
@links-pic-path: "images/thumb/";

/*
Variables
*/

.text_styling(@font, @weight, @size, @color) {
    color: @color;
    font-family: @font;
    font-weight: @weight;
    font-size: @size;
}

* { box-sizing: border-box; }
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background:
    /* top transparent overlay */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url('background.jpg');
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: none;

    //Section Container
    .grid-container {
        display: grid;
        grid-template-areas:
        "header"
        "main";
        grid-gap: 10px;
        grid-template-rows: 1fr 20fr;
        padding: 10px;
        max-width: 1500px;
        margin: auto;
        background-color: #16B3BE;
        background: linear-gradient(to right, rgba(237,54,46,0.6), rgba(2,172,186,0.5));
        height: inherit;

        .header {
            grid-area: header;
            display: flex;
            justify-content: left;
            align-items: center;
            align-content: space-between;
            background-color: rgba(0,0,0,0.4);
            border-radius: 1em;
            padding: .8rem;

            input {
                .text_styling(@body-font, normal, 1em, #000);
                width: 50%;
                padding: 8px 10px;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
            input[type=submit], [type=button] {
                width: 30%;
                background-color: #16B3BE;
                color: white;
                padding: 8px 10px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                .text_styling(@body-font, normal, 1.2em, #FFF);
                cursor: pointer;
                margin-left: 1em;

                &:hover {
                    background-color: #00A6B6;
                }
            }

        }
    }
    .grid-container.mainOnly {
        grid-template-areas:
        "main";
        grid-template-rows: 1fr;
    }


    //Section Main
    .main {
        padding: 1em;
        grid-area: main;
        background-color: rgba(0,0,0,0.4);
        border-radius: 1em;
        color: #FFF;
        display: block;
        display: none;
        overflow-y: scroll;

        .messages {

            .item {
                display: grid;
                grid-template-areas:
                "user message time";
                grid-template-columns: 1fr 5fr 1fr;
                background-color: rgba(0,0,0,0.4);
                border-radius: 2em;
                padding: 2px 0 2px 0;
                .text_styling(@body-font, normal, 1.2em, #FFF);
                margin: .5em 0 .5em 0;

                #user {
                    grid-area: user;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    padding: 0 5px 0 5px;
                }
                #message {
                    grid-area: message;
                    padding: 0 5px 0 6px;
                }
                #time {
                    grid-area: time;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 5px 0 5px;
                }
            }
            .current {
                background: linear-gradient(to left, rgba(237,54,46,0.6), rgba(2,172,186,0.5));
                grid-template-areas:
                "time message user";
            }

            h1{
                .text_styling(@header-font, lighter, 3em, #FFF);
            }
        }

        .type {
            margin-top: 5em;
            position: relative;

            input {
                .text_styling(@body-font, normal, 1.2em, #000);
                width: 100%;
                padding: 8px 10px;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                position: absolute;
                bottom: 0;
            }
        }

        /*
            Chat Body --- Start
        */

        /*
            Chat Body --- End
        */
    }
}
/*
Responsive Layout (To be implemented)
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /*Tablet - Portrait*/

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /*Tablet - Landscape*/

}
@media (min-width: 481px) and (max-width: 767px) {
  /*Low Resolution Tablets, Mobiles - Landscape*/

}
@media only screen and (max-width: 480px) {
    /* Smartphones Mobiles - Portrait */

}
