@import url('https://fonts.googleapis.com/css?family=Carter+One|Manuale');
/*
Variables
*/
@header-font: 'Carter One', cursive;
@body-font: 'Manuale', serif;
@bg-pic-path: "images/";

/*
Variables
*/

.text_styling(@font, @weight, @size) {
    color: #FFF;
    font-family: @font;
    font-weight: @weight;
    font-size: @size;
}

* { box-sizing: border-box; }
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background:
    /* top transparent overlay */
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url('@{bg-pic-path}poke2.jpg');
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;

    &:first-child {
        margin-top: 0;
    }

    //Section Container
    .grid-container {
        display: grid;
        grid-template-areas:
        'menu'
        'main'
        'type'
        'form';
        grid-gap: 10px;
        padding: 10px;
        max-width: 1500px;
        margin: auto;
        background-color: #1cb3ff;
        background: linear-gradient(to right, rgba(28,179,255,0.4), rgba(234,148,147,0.5));
    }


    //Section Menu
    .menu {
        grid-area: menu;
        display: flex;
        justify-content: space-around;
        .text_styling(@body-font, normal, 1.3em);
        background-color: rgba(0,0,0,0.4);
        border-radius: 1em;

        div {
            padding-left: .2em;
            padding-right: .2em;

            &:hover {
                background-color: rgba(0,0,0,0.8);
                border-radius: .2em;
            }
        }
        a {
            color: inherit;
            text-decoration: none;
            margin: 0;
            padding: 0;
        }
    }


    //Section Main
    .main {
        padding: 1em;
        grid-area: main;
        background-color: rgba(0,0,0,0.5);
        border-radius: 1em;
        color: #FFF;

        h2 {
            text-transform: uppercase;
            .text_styling(@body-font, normal, 1.6em);
        }
        h1 {
            text-transform: uppercase;
            font-size: 2.2em;
            text-align: center;
        }
        p, li {
            .text_styling(@body-font, normal, 1.3em);
        }
        a {
            color: inherit;
            margin: 0;
            padding: 0;
        }

        /*
            Dashboard --- Start
        */
        .flex-container {
            grid-area: main;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .pokemon {
                width: 20%;
                min-width: 230px;
                height: 450px;
                text-align: center;
                padding: .5em;
                margin: .5em;
                background-color: rgba(0,0,0,0.5);
                border-radius: .5em;
                box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

                /*&:hover {
                    overflow: scroll;
                }*/
                h2 {
                    .text_styling(@body-font, 600, 1.5em);
                    margin-bottom: .1em;
                }
                h3 {
                    .text_styling(@body-font, normal, 1.4em);
                    margin-top: .1em;
                }
                img {
                    width: auto;
                    height: auto;
                    border-radius: 0.1em;
                }

                .types{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;

                    i{
                        font-size: .8em;
                        padding-right: 0.2em;
                    }
                    p {
                        text-align: center;
                        margin-bottom: .1em;
                        margin-top: .1em;
                        .text_styling(@body-font, normal, 1.3em);
                    }
                }
                .editButton {
                	box-shadow:inset 0px 1px 0px 0px #99ffb7;
                	background:linear-gradient(to bottom, #C3FF9B 5%, #4A8522 100%);
                	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C3FF9B', endColorstr='#4A8522',GradientType=0);
                	background-color:#C3FF9B;
                	border-radius:6px;
                	border:1px solid #31ea53;
                	display:inline-block;
                	cursor:pointer;
                	.text_styling(@body-font, normal, 1.2em);
                    padding: 0 0 0 0;
                	text-shadow:0px 1px 0px #C3FF9B;
                    width: 5rem;
                    height: 2rem;
                    margin-top: 1em;
                    text-decoration: none;

                    &:hover {
                    	background:linear-gradient(to bottom, #4A8522 5%, #C3FF9B 100%);
                    	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A8522', endColorstr='#C3FF9B',GradientType=0);
                    	background-color:#C3FF9B;
                    }
                    &:active {
                    	position:relative;
                    }
                    i {
                        font-weight: normal;
                        padding-right: 4px;
                    }
                }
            }
        }
        /*
            Dashboard --- End
        */

        /*
            Details --- Start
        */
        .details-container {
            grid-area: main;
            display: flex;
            flex-wrap: wrap;

            .poke-detail {
                flex: 1;
                width: 20%;
                min-width: 230px;
                height: auto;
                text-align: center;
                padding: .5em;
                margin: .5em;
                background-color: rgba(0,0,0,0.5);
                border-radius: .5em;

                /*&:hover {
                    overflow: scroll;
                }*/
                h1 {
                    text-transform: capitalize;
                }
                h2 {
                    .text_styling(@body-font, 600, 1.5em);
                }
                h3 {
                    .text_styling(@body-font, normal, 1.2em);
                }
                img {
                    width: auto;
                    height: auto;
                }
                .name {
                    .text_styling(@header-font, 100, 1.8em);
                }
            }
            .poke-stat {
                flex: 2;
                padding: .5em;
                margin: .5em;
                background-color: rgba(0,0,0,0.5);
                border-radius: .5em;

                h1 {
                    text-transform: capitalize;
                }
            }
        }
        .type-detail {
            grid-area: type;
            padding: .5em;
            margin: .5em;
            background-color: rgba(0,0,0,0.5);
            border-radius: .5em;
        }
        .form-detail {
            grid-area: form;
            display: flex;
            flex-wrap: wrap;

            .poke-form {
                flex: 1;
                width: 20%;
                min-width: 230px;
                height: auto;
                text-align: center;
                padding: .5em;
                margin: .5em;
                background-color: rgba(0,0,0,0.5);
                border-radius: .5em;

                /*&:hover {
                    overflow: scroll;
                }*/
                h1 {
                    text-transform: capitalize;
                }
                h2 {
                    .text_styling(@body-font, 600, 1.5em);
                }
                h3 {
                    .text_styling(@body-font, normal, 1.2em);
                }
                img {
                    width: auto;
                    height: auto;
                }
                .name {
                    .text_styling(@header-font, 100, 1.8em);
                }
            }
        }
        /*
            Details --- End
        */
    }
}
/*
Responsive Layout (To be implemented)
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /*Tablet - Portrait*/

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /*Tablet - Landscape*/

}
@media (min-width: 481px) and (max-width: 767px) {
  /*Low Resolution Tablets, Mobiles - Landscape*/

}
@media only screen and (max-width: 480px) {
    /* Smartphones Mobiles - Portrait */

}
