<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachel Greenhouse Nursery</title>
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="main.js" defer></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="background" class="bg">
      <div class="grid-container">
        <div id="header" class="header">
            <!-- Content populated by external html file "header.html" -->
            {% include 'header.html' %}
        </div>
        <div id="menu" class="menu">
            <!-- Content populated by external html file "menu.html" -->
            {% include 'menu.html' %}
        </div>
        <div class="main">
            <h1>About Us</h1>
            <h2>History</h2>
            <p>Dr. Rachel Porter is a fictional character from the movie Paycheck (2003), directed by John Woo, she is a biologist who works for Allcom, a successful Seattle technology enterprise. While working there, Rachel meets Michael Jennings, a brilliant reverse engineer, who, in exchange for big money (paychecks), analyses technological projects from competitors and creates his own version of the product with some significant improvements. Michael has part of his memory, the ones related to each of the projects, wiped as part of his contract with the companies. Working for Allcom, Michael is able to build a machine capable of seeing the future, which because of the machine, was condemned to destruction and war. Michael then, realizing what he had done, send himself items to be able to stop/destroy the machine after his memory is wiped. This puts Michael and Rachel, who at this point are in love for each other, in great danger, undergoing several action adventures until they are able to destroy the machine.
            </p>
            <p>At the end of the movie, Rachel, Michael and Shorty (Michael’s friend) have opened their own greenhouse nursery, when Michael discovers a $90 million lottery ticket he sent himself from when he used the machine to see the future. Now, without worrying about money, Rachel decides to dedicate her professional life to her passion: plants. She then decides to share her love for botanical matter and create a non-profit organization to raise environmental awareness among the public. With this organization, Dr. Porter will be able to share her knowledge with the world and reinforce the importance of a greener environment. The website will be one of the most important tools to help Dr. Rachel achieve her goal. With the main purpose being informational related, the website will be the main source where people can see the work Rachel and her partners are doing as well as getting in touch with them for future businesses.</p>
        </div>
        <div id="links" class="links">
            <!-- Content populated by external html file "links.html" -->
            {% include 'links.html' %}
        </div>
        <div id="logoutMobile" class="logoutMobile">
            <a href="login.php?action=logout"><div>Logout</div></a>
        </div>
        <div id="footer" class="footer">
            <!-- Content populated by external html file "footer.html" -->
            {% include 'footer.html' %}
        </div>
      </div>
    </div>
  </body>
</html>
