<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachel Greenhouse Nursery</title>
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="main.js" defer></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="background" class="bg">
      <div class="grid-container">
        <div id="header" class="header">
            <!-- Content populated by external html file "header.html" -->
            {% include 'header.html' %}
        </div>
        <div id="menu" class="menu">
            <!-- Content populated by external html file "menu.html" -->
            {% include 'menu.html' %}
        </div>
        <div class="main">
            <div class="contact-container">
                <div class="contact">
                    <h2>Contact:</h2>
                    <p>8770 Selkirk Street<br>
                    Vancouver, BC<br>
                    V6P 4J4</p>

                    <h2>Phone: 604-125-9852</h2>

                    <p>Support Services: support@rachel.com<br>
                    Employment: hr@rachel.com<br>
                    General: rachel@rachel.com</p>
                </div>
                <div class="location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2192.005366951105!2d-123.13395714488657!3d49.20533271001798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548674ec1b0bf2d3%3A0x2da3b8b5930c1893!2s8770+Selkirk+St%2C+Vancouver%2C+BC+V6P+4E8!5e0!3m2!1sen!2sca!4v1539054927987" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div id="links" class="links">
            <!-- Content populated by external html file "links.html" -->
            {% include 'links.html' %}
        </div>
        <div id="logoutMobile" class="logoutMobile">
            <a href="login.php?action=logout"><div>Logout</div></a>
        </div>
        <div id="footer" class="footer">
            <!-- Content populated by external html file "footer.html" -->
            {% include 'footer.html' %}
        </div>
      </div>
    </div>
  </body>
</html>
