{% for flower in flowers %}
<form action="index.php?page=management&update=YES" method="post">
    <input type="text" id="plant_ID" name="plant_ID" value='{{flower.plant_ID}}'>

    <label for="name">Flower Name:</label>
    <input type="text" id="name" name="name" placeholder="Flower Name" value='{{flower.name}}' maxlength="50">

    <div class="twoCol">
        <div>
            <label for="scientific">Scientific Name:</label>
            <input type="text" id="scientific" name="scientific" placeholder="Scientific Name" value='{{flower.scientific_name}}' maxlength="80">
        </div>
        <div>
            <label for="kingdom">Kingdom:</label>
            <input type="text" id="kingdom" name="kingdom" placeholder="Kingdom" value='{{flower.kingdom}}' maxlength="50">
        </div>
        <div>
            <label for="plant_order">Plant Order:</label>
            <input type="text" id="plant_order" name="plant_order" placeholder="Order" value='{{flower.plant_order}}' maxlength="50">
        </div>
        <div>
            <label for="family">Family:</label>
            <input type="text" id="family" name="family" placeholder="Family" value='{{flower.family}}' maxlength="50">
        </div>
        <div>
            <label for="subfamily">Subfamily:</label>
            <input type="text" id="subfamily" name="subfamily" placeholder="Subfamily" value='{{flower.subfamily}}' maxlength="50">
        </div>
        <div>
            <label for="tribe">Tribe:</label>
            <input type="text" id="tribe" name="tribe" placeholder="Tribe" value='{{flower.tribe}}' maxlength="50">
        </div>
        <div>
            <label for="supertribe">Supertribe:</label>
            <input type="text" id="supertribe" name="supertribe" placeholder="Supertribe" value='{{flower.supertribe}}' maxlength="50">
        </div>
        <div>
            <label for="genus">Genus:</label>
            <input type="text" id="genus" name="genus" placeholder="Genus" value='{{flower.genus}}' maxlength="50">
        </div>
    </div>

    <label for="info">Description:</label>
    <textarea id="info" name="info">{{flower.info}}</textarea>

    <div class="twoCol">
        <div>
            <label for="image_url">Flower Picture URL:</label>
            <input type="text" id="image_url" name="image_url" placeholder="URL goes here" value='{{flower.image_url}}'>
        </div>
        <div>
            <label for="info_url">Flower URL:</label>
            <input type="text" id="info_url" name="info_url" placeholder="More info URL" value='{{flower.info_url}}' maxlength="100">
        </div>
    </div>
    <input type="submit" value="Submit">
</form>
{% endfor %}
