<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachel Greenhouse Nursery</title>
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="main.js" defer></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="background" class="bg">
      <div class="grid-container">
        <div id="header" class="header">
            <!-- Content populated by external html file "header.html" -->
            {% include 'header.html' %}
        </div>
        <div id="menu" class="menu">
            <!-- Content populated by external html file "menu.html" -->
            {% include 'menu.html' %}
        </div>
        <div class="main">
            <h1>Environment Awareness</h1>
            <h2>What is Environmental Awareness?</h2>
            <p>To define environmental awareness we must first understand the environmentalist movement. Environmentalism is an ideology that evokes the necessity and responsibility of humans to respect, protect, and preserve the natural world from its anthropogenic (caused by humans) afflictions.</p>
            <p>Environmental awareness is an integral part of the movement’s success. By teaching our friends and family that the physical environment is fragile and indispensable we can begin fixing the problems that threaten it.</p>
            <p>Numerous resources are available to promote environmental awareness; group learning (in or outside of class), informational and inspirational seminars, such as our Awakening the Dreamer Program, and environmental books and brochures are just a few of the tools that can get you involved in promoting the environment.</p>

            <h2>How to Promote Environmental Awareness</h2>
            <p>When learning about the environment’s declining health it is easy to feel discouraged, but what keeps us fighting for a healthy world is the future of our children. They should not have to inherit our environmental problems and in order to keep their future bright, spreading awareness is imperative.</p>
            <p>Before you can begin promoting environmental awareness in your own community you must first make sure that you have a thorough understanding of environmental issues. Staying up to date on environmental news and reading comprehensive books about environmental threats are both great resources, but if you’re the type of person who prefers a more interactive approach, attending environmental seminars is a great option.</p>
            <p>Our Awakening the Dreamer Symposium is an inspirational and informative seminar that discusses man-made environmental issues, while also instilling a sense of hopefulness for the future.</p>
        </div>
        <div id="links" class="links">
            <!-- Content populated by external html file "links.html" -->
            {% include 'links.html' %}
        </div>
        <div id="logoutMobile" class="logoutMobile">
            <a href="login.php?action=logout"><div>Logout</div></a>
        </div>
        <div id="footer" class="footer">
            <!-- Content populated by external html file "footer.html" -->
            {% include 'footer.html' %}
        </div>
      </div>
    </div>
  </body>
</html>
