<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error</title>
  <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="main.js" defer></script>
</head>
<body>
    <div id="background" class="bg">
        <div class="grid-container">
          <div id="header" class="header">
              <!-- Content populated by external html file "header.html" -->
              {% include 'header.html' %}
          </div>
          <div id="menu" class="menu">
              <!-- Content populated by external html file "menu.html" -->
              {% include 'menu.html' %}
          </div>
          <div class="main">
              <h1>Error</h1>
              <h2>An error has occured</h2>
              <p>Message: {{message}}</p>
          </div>
          <div id="links" class="links">
              <!-- Content populated by external html file "links.html" -->
              {% include 'links.html' %}
          </div>
          <div id="logoutMobile" class="logoutMobile">
              <a href="login.php?action=logout"><div>Logout</div></a>
          </div>
          <div id="footer" class="footer">
              <!-- Content populated by external html file "footer.html" -->
              {% include 'footer.html' %}
          </div>
        </div>
    </div>
</body>
</html>
