{% for flower in flowers %}
    <div id='{{flower.plant_ID}}' class="flower">
        <img src='{{flower.image_url}}' alt='{{flower.name}}'>
        <h2>{{flower.name}}</h2>
        <h3>{{flower.scientific_name}}</h3>
        <p>{{flower.info}}</p>
        <a href='index.php?page=management&flower={{flower.plant_ID}}' id="edit" class="editButton">Edit</a>
        <a href='index.php?page=dashboard&flower={{flower.plant_ID}}' id="delete" class="editButton">Delete</a>
    </div>
{% endfor %}
