<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachel Greenhouse Nursery</title>
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="main.js" defer></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="background" class="bg">
      <div class="grid-container">
        <div id="header" class="header">
            <!-- Content populated by external html file "header.html" -->
            {% include 'header.html' %}
        </div>
        <div id="menu" class="menu">
            <!-- Content populated by external html file "menu.html" -->
            {% include 'menu.html' %}
        </div>
        <div class="main">
          <h1>Home Page</h1>
          <h2>Botany</h2>
          <p>Botany, also called plant science(s), plant biology or phytology, is the science of plant life and a branch of biology. A botanist, plant scientist or phytologist is a scientist who specialises in this field.</p>
          <h2>Modern Botany</h2>
          <p>Modern botany is a broad, multidisciplinary subject with inputs from most other areas of science and technology. Research topics include the study of plant structure, growth and differentiation, reproduction, biochemistry and primary metabolism, chemical products, development, diseases, evolutionary relationships, systematics, and plant taxonomy.</p>
          <h2>Ecology</h2>
          <p>Ecology is the branch of biology which studies the interactions among organisms and their environment. Objects of study include interactions of organisms with each other and with abiotic components of their environment.</p>
          <p>Source: <a href="https://en.wikipedia.org/wiki/">Wikipedia</a></p>

          <h2>The Importance of Going Green</h2>
          <ul>
            <li>Reduce the Resource Crunch</li>
            <li>Diminish Air Pollution</li>
            <li>Prevent Water Pollution</li>
            <li>Stop Land Pollution</li>
            <li>Curtail Climate Change</li>
            <li>Curb Industrial Agriculture</li>
            <li>Stop Deforestation and Habitat Loss</li>
            <li>End Soil Erosion and Degradation</li>
            <li>Minimize Biodiversity Loss</li>
          </ul>
        </div>
        <div id="links" class="links">
            <!-- Content populated by external html file "links.html" -->
            {% include 'links.html' %}
        </div>
        <div id="logoutMobile" class="logoutMobile">
            <a href="login.php?action=logout"><div>Logout</div></a>
        </div>
        <div id="footer" class="footer">
            <!-- Content populated by external html file "footer.html" -->
            {% include 'footer.html' %}
        </div>
      </div>
    </div>
  </body>
</html>
