{% set links = [
        {'name':'Home', 'link':'/project', 'thumb':'thumb1'},
        {'name':'Dashboard', 'link':'index.php?page=dashboard', 'thumb':'thumb2'},
        {'name':'Management', 'link':'index.php?page=management', 'thumb':'thumb3'},
        {'name':'Environment', 'link':'index.php?page=environment', 'thumb':'thumb4'},
        {'name':'About Us', 'link':'index.php?page=about', 'thumb':'thumb5'},
        {'name':'Contact Us', 'link':'index.php?page=contact', 'thumb':'thumb6'}
    ] %}
{% for link in links %}
    <a href='{{link.link}}'><div class='{{link.thumb}}'>{{link.name}}</div></a>
{% endfor %}
