<div class="login">
    <div>
        <div class="loginForm">
            <form id="login" onsubmit="return false">
                <label for="userName">Username:</label>
                <input type="email" id="userName" name="userName" placeholder="username@email.com" maxlength="100" required>

                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="pwd" maxlength="100" required>

                <input id="loginSubmit" type="submit" name="login_button" value="Login" />
                <input id="logRegSubmit" type="button" name="register_button" value="Register" />
            </form>
        </div>
        <div class="registerForm">
            <form id="register" onsubmit="return false">
                <label for="fname">First Name:</label>
                <input type="text" id="fname" name="fname" placeholder="First name here..." maxlength="50" required>

                <label for="lname">Last Name:</label>
                <input type="text" id="lname" name="lname" placeholder="Last name here..." maxlength="50" required>

                <label for="mname">Middle Name:</label>
                <input type="text" id="mname" name="mname" placeholder="Middle name here... (Optional)" maxlength="50">

                <label for="rUserName">Username:</label>
                <input type="email" id="rUserName" name="rUserName" placeholder="username@email.com" maxlength="100" required>

                <label for="rPwd">Password:</label>
                <input type="password" id="rPwd" name="rPwd" maxlength="100" required>

                <input id="regSubmit" type="submit" name="register_button" value="Register" />
            </form>
        </div>
    </div>
</div>
