<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rachel Greenhouse Nursery - Login</title>
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="main.js" defer></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div id="background" class="bg">
      <div class="grid-container">
        <div id="header" class="header">
            <!-- Content populated by external html file "header.html" -->
            {% include 'header.html' %}
        </div>
        <div class="main">
            <!-- Content populated by external html file "login.html" or "register.html" -->
            {% include 'login.html' %}

        </div>
        <div id="footer" class="footer">
            <!-- Content populated by external html file "footer.html" -->
            {% include 'footer.html' %}
        </div>
      </div>
    </div>
  </body>
</html>
