{% set menus = [
        {'name':'Home', 'link':'/project'},
        {'name':'Dashboard', 'link':'index.php?page=dashboard'},
        {'name':'Management', 'link':'index.php?page=management'},
        {'name':'Environment Awareness', 'link':'index.php?page=environment'},
        {'name':'About Us', 'link':'index.php?page=about'},
        {'name':'Contact Us', 'link':'index.php?page=contact'},
        {'name':'Logout', 'link':'login.php?action=logout'}
    ] %}
{% for menu in menus %}
    <a href='{{menu.link}}'><div class="menuItem" >{{menu.name}}</div></a>
{% endfor %}
