@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Carter+One|Manuale&effect=shadow-multiple');
/*
Variables
*/
@title-font: 'Bungee Inline', cursive;
@header-font: 'Carter One', cursive;
@body-font: 'Manuale', serif;
@bg-pic-path: "images/";

/*
Variables
*/

.text_styling(@font, @weight, @size) {
    color: #FFF;
    font-family: @font;
    font-weight: @weight;
    font-size: @size;
}

* { box-sizing: border-box; }
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background:
    /* top transparent overlay */
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url('@{bg-pic-path}poke3.jpg');
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;

    &:first-child {
        margin-top: 0;
    }

    //Section Container
    .grid-container {
        display: grid;
        grid-template-areas:
        'title title'
        'sidebar favorites'
        'sidebar main';
        grid-gap: 10px;
        padding: 10px;
        max-width: 1500px;
        margin: auto;
        background-color: #1cb3ff;
        background: linear-gradient(to right, rgba(28,179,255,0.4), rgba(234,148,147,0.5));
    }

    //Section Title
    .title {
        grid-area: title;
        display: flex;
        justify-content: space-around;
        background-color: rgba(0,0,0,0.4);
        border-radius: 1em;

        h1{
            .text_styling(@title-font, lighter, 3em);
            color: #FFCB05;
            outline-width: thick;
            outline-color: blue;
        }
    }

    //Section SideBar
    .sidebar {
        grid-area: sidebar;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .text_styling(@body-font, normal, 1.3em);
        background-color: rgba(0,0,0,0.4);
        border-radius: 1em;
        padding-left: 5%;
        padding-right: 5%;

        h2 {
            text-align: center;
        }

        div {
            padding: 5% 0 5% 10%;

            &:hover {
                background-color: rgba(0,0,0,0.8);
                border-radius: .2em;
            }
        }
        a {
            color: inherit;
            text-decoration: none;
            margin: 0;
            padding: 0;
        }
    }

    //Section Favorites
    .favorites {
        padding: .5em;
        grid-area: favorites;
        background-color: rgba(0,0,0,0.5);
        border-radius: 1em;
        color: #FFF;
        height: auto;

        h2 {
            text-transform: uppercase;
            .text_styling(@body-font, normal, 1.6em);
        }
        h1 {
            text-transform: uppercase;
            font-size: 2.2em;
            text-align: center;
        }
        p, li {
            .text_styling(@body-font, normal, 1.3em);
        }
        a {
            color: inherit;
            margin: 0;
            padding: 0;
        }

        /*
            Dashboard --- Start
        */
        .flex-container {
            grid-area: favorites;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            h2 {
                width: 100%;
            }

            .poke-card {
                width: auto;
                height: auto;
                text-align: center;
                padding: .5em;
                margin: .5em;
                background-color: rgba(0,0,0,0.5);
                border-radius: .5em;
                box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

                h2 {
                    .text_styling(@body-font, 600, 1.5em);
                    margin-bottom: .1em;
                }
                h3 {
                    .text_styling(@body-font, normal, 1.4em);
                    margin-top: .1em;
                    margin-bottom: .1em;
                }
                img {
                    width: 60%;
                    height: auto;
                    border-radius: 0.1em;
                }

                .types{
                    text-align: center;
                    display: inline-block;

                    i{
                        font-size: .8em;
                        padding-right: 0.2em;
                    }
                    p {
                        text-align: center;
                        margin-bottom: .1em;
                        margin-top: .1em;
                        .text_styling(@body-font, normal, 1.2em);
                    }
                }
            }
        }
        /*
            Dashboard --- End
        */
    }

    //Section Main
    .main {
        grid-area: main;
        padding: .5em;
        background-color: rgba(0,0,0,0.5);
        border-radius: 1em;
        color: #FFF;
        height: auto;

        h2 {
            text-transform: uppercase;
            .text_styling(@body-font, normal, 1.6em);
        }

        .flex-container {
            grid-area: main;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h2 {
                width: 100%;
            }
            a {
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .pokemon {
                width: auto;
                height: auto;
                text-align: left;
                padding: .4em;
                margin: .4em;
                background-color: rgba(0,0,0,0.5);
                border-radius: .5em;
                box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
                transition: all .1s ease-in;

                p {
                    display: inline;
                    margin: 0 1em 0 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    .text_styling(@body-font, normal, 1.2em);
                }

                .non-essential {
                    display: none;
                }

                &:hover {
                    box-shadow: 10px 10px 40px 0px rgba(0,0,0,1);
                }
            }
            .fav {
                background-color: #1cb3ff;
                background: linear-gradient(to right, rgba(234,148,147,0.4), rgba(28,179,255,0.4));
            }
        }
    }
}
