<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>CPSC 2030: Week 7, the grind continues</title>
</head>
<body>
    <h1>Welcome to {{store | e}}</h1>

    <h2> Catalog</h2>
    <div class="orderContainer">
        {%for item in catalog %}
        <div class="item_name">{{item.item}}</div>
        <div class="cost">{{item.price}}</div> <!-- I should probably format the number-->
        <div class="description">{{item.description}}</div>
        {% endfor %}
    </div>
</body>
</html>