<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error</title>
  <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <div class="bg">
      <div class="grid-container">
        <div class="main">
            <h1>Error</h1>

            <h2>An error has occured</h2>
            <h3>Message:</h3>
            <p>{{message}}</p>
        </div>
      </div>
    </div>
</body>
</html>
