{% for favorite in favorites %}
    {% if favorite.name == "none" %}
        <h1>No favorite pokemons. Please select one below.</h1>
    {% else %}
        <div class="poke-card">
        <img src='{{favorite["img_url"]}}' alt='{{favorite["name"]}}'>
        <h2>{{favorite.nat_ID}}</h2>
        <h3>{{favorite.name}}</h3>
        <div class="types">
        <p>{{favorite.type1}}
        {% if not favorite.type2 is null %}
            & {{favorite.type2}}</p>
        {% else %}
        </p>
        {% endif %}
        </div>
        </div>
    {% endif %}
{% endfor %}
