<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex</title>
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
  <body>
    <div class="bg">
      <div class="grid-container">
        <div class="title font-effect-shadow-multiple">
            <!-- Data is populated from twig template -->
            {% include 'title.html' with {title: 'POKEDEX'} %}
        </div>
        <div class="sidebar">
            <!-- Data is populated from twig template -->
            {% include 'sidebar.html' %}
        </div>
        <div class="favorites">
            <h2>Favorite Pokemons</h2>
            <div class="flex-container">
                {% include 'favorites.html' %}
            </div>
        </div>
        <div class="main">
            <h2>All Pokemons</h2>
            <div class="flex-container">
                {% include 'main.html' %}
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
