{% for pokemon in pokemons %}
    {% set link %}
    index.php?{{ {'ID': pokemon.nat_ID, 'name': pokemon.name}|url_encode }}
    {% endset %}
    <a href="{{link}}">
        {% if pokemon.favorite == TRUE %}
            <div class="pokemon fav">
        {% else %}
            <div class="pokemon">
        {% endif %}
    <p>#ID: {{pokemon.nat_ID}}</p>
    <p>Name: {{pokemon.name}}</p>
    <p>Type: {{pokemon.type}}</p>
        <div class="non-essential">
            <p>HP: {{pokemon.HP}}</p>
            <p>ATK: {{pokemon.ATK}}</p>
            <p>DEF: {{pokemon.DEF}}</p>
            <p>SAT: {{pokemon.SAT}}</p>
            <p>SDF: {{pokemon.SDF}}</p>
            <p>SPD: {{pokemon.SPD}}</p>
            <p>BST: {{pokemon.BST}}</p>
        </div>
    </div>
    </a>
{% endfor %}
