  /*
  Variables
  */
  @title-color1: #891389; //purple
  @title-color2: #FF94FF; //light purple
  @top-menu-width: 600px; //size of top menu
  @purple-main: #800080; //main purple color used several places
  @menu-item-child2: #B300B3; //background color of menu item
  @menu-item-flex: #E600E6; //color of menu item child and flex
  @bar-color: #008000; //green color for bar graph
  @purple-flex-grad: #350034; //lighter purple for flex item gradient
  @hover-menu-color: #DDA0DD; //hover color on menu
  @site-font : Arial, Helvetica, sans-serif;
  @sizes: {narrow:814px;} //Used for the narrow layout
  /*
  Variables
  */

  body {
    margin: auto;
    .text_styling(@site-font);
  }

  /*
  Mixin function to style the font on the entire page
  */
  .text_styling(@font) {
      font-family: @font;
      font-kerning: normal;
  }

  .title {
    font-size: 2em;
    text-align: center;
    background-color: @title-color1; /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(left, @title-color1, @title-color2); /* Chrome */
    background-image: -o-linear-gradient(left, @title-color1, @title-color2); /* Opera */
    background-image: linear-gradient(to right, @title-color1, @title-color2); /* Standard syntax */
  }

  .top {
    width: @top-menu-width; //fixed width
    margin: auto;
    background-color: #4D004D;
    text-align: center;
    border-radius: 1em;

    .item {
      display: inline;
      margin-left: 1em;
      margin-right: 1em;
      color: #fff;

      //Different color pattern between the menu items
      &:nth-child(3n+1) {
          background-color: @purple-main;
      }
      &:nth-child(3n+2) {
          background-color: @menu-item-child2;
      }
      &:nth-child(3n+0) {
          background-color: @menu-item-flex;
      }
      &:hover {
        background-color: @hover-menu-color;
      }

      //diplay line by line on narrow layout
      @media (max-width: @sizes[narrow]) {
        display: block;
        margin-left: 0;
        margin-right: 0;
      }
    }

    @media (max-width: @sizes[narrow]) {
      width: auto;
      text-align: left;
      border-radius: none;
    }
  }

  /*
  Parametric mixin to style the bar graph
  */
  .bar_setup(@bar, @hSize) {
    grid-area: @bar;
    height: @hSize;
    background-color: @bar-color;
    align-self: flex-end;

    //bars have different color on narrow layout
    @media (max-width: @sizes[narrow]) {
      background-color: red;
      width: @hSize;
      height: 1.2em;
      align-self: flex-start;
    }
  }

  //calling parametric mixins
  .bar1 {.bar_setup(bar1, 85%);}
  .bar2 {.bar_setup(bar2, 65%);}
  .bar3 {.bar_setup(bar3, 100%);}
  .bar4 {.bar_setup(bar4, 50%);}

  .bargraph {
    grid-area: graph;
    padding-top: 1em;
    padding-left: 8em;
    padding-right: 10em;
    height: 11em;
    display: grid;
    grid-gap: 15%;
    grid-template-areas:
    'bar1 bar2 bar3 bar4';
    //Above is the vertical bar alignment for wide layout

    //Below is the horizontal bar alignment for the narrow layout
    @media (max-width: @sizes[narrow]) {
      border-radius: none;
      grid-template-areas:
      'bar1'
      'bar2'
      'bar3'
      'bar4';
      width: auto;
      grid-gap: 0;
      padding: 2em 6em 2em 0;
      height: 10em;
    }
  }

  .sidebar {
    margin-left: 1em;
    padding-top: 2em;
    grid-area: sidebar;

    .item .subItem {
      display: none;
    }

    .item {
      &:hover {
        font-weight: bold;

        .subItem {
          display: block;
          padding-left: 1em;

          &:hover {
            color: red;
          }
        }
      }
    }

    //Sidedar does not appear on the narrow layout:
    @media (max-width: @sizes[narrow]) {
      display: none;
    }
  }
  .container {
    background-color: @purple-main;
    border-radius: 2em;
    display: grid;
    grid-template-areas:
    'sidebar graph'
    'sidebar box';
    grid-template-columns: 20% 80%;

    //sidebar grid area is inexistent on the narrow layout
    @media (max-width: @sizes[narrow]) {
      border-radius: 0;
      grid-template-areas:
      'graph'
      'box';
      grid-template-columns: 100%;
    }
  }

  .flexbottom {
    grid-area: box;
    display: flex;
    flex-wrap: wrap;
    background-color: @menu-item-flex;

    h2 {
      width: 100%;
    }

    .mon {
      width: 6.5em;
      height: 6em;
      border: 1px solid black;
      border-radius: 1em;
      padding: .5em;
      margin: .1em;
      background-color: @purple-main; /* For browsers that do not support gradients */

      //Different gradient style between odd and even objects
      &:nth-child(odd){
        background-image: -webkit-linear-gradient(right, @purple-main, @purple-flex-grad); /* Chrome */
        background-image: -o-linear-gradient(right, @purple-main, @purple-flex-grad); /* Opera */
        background-image: linear-gradient(to left, @purple-main, @purple-flex-grad); /* Standard syntax */

        //narrow layout has a radial gradient instead
        @media (max-width: @sizes[narrow]) {
          background-image: -webkit-radial-gradient(center, @purple-main, @purple-flex-grad);
          background-image: -moz-radial-gradient(center, @purple-main, @purple-flex-grad);
          background-image: radial-gradient(ellipse at center, @purple-main, @purple-flex-grad);
        }
      }

      &:nth-child(even){
        background-image: -webkit-linear-gradient(left, @purple-main, @purple-flex-grad); /* Chrome */
        background-image: -o-linear-gradient(left, @purple-main, @purple-flex-grad); /* Opera */
        background-image: linear-gradient(to right, @purple-main, @purple-flex-grad); /* Standard syntax */

        //narrow layout has a radial gradient instead
        @media (max-width: @sizes[narrow]) {
          background-image: -webkit-radial-gradient(center, @purple-main, @purple-flex-grad);
          background-image: -moz-radial-gradient(center, @purple-main, @purple-flex-grad);
          background-image: radial-gradient(ellipse at center, @purple-main, @purple-flex-grad);
        }
      }

      //firt div has diferent style
      div:first-child {
        font-weight: bold;
        font-size: 1.1em;
        @media (max-width: @sizes[narrow]) {
          color: blue;
        }
      }

      //different text color on narrow layout
      @media (max-width: @sizes[narrow]) {
        width: auto;
        color: #33BBE0;
      }
    }

    //Direction is line by line on narrow layout
    @media (max-width: @sizes[narrow]) {
      flex-direction: column;
    }
  }
